@font-face {
  font-family: 'flashlight';
  src:  url('../fonts/flashlight.otf') format('opentype'),
        url('../fonts/flashlight.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.flashlight{
	font-family: 'flashlight';
	font-size: 10em;
	color: purple;
}